DB_PASSWORD=tu_password_seguro_aqui
JWT_SECRET=tu_jwt_secret_muy_largo_y_seguro_aqui

RABBITMQ_HOST=rabbitmq.envy.crudzaso.com
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=v9q14Pg15x
RABBITMQ_PASSWORD=Ki4Z77IRipVLG9Y1LahdxN2twlLUZ0
RABBITMQ_VIRTUAL_HOST=/

