server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: envyguard-backend
  
  datasource:
    url: jdbc:postgresql://localhost:5432/envyguard_db
    username: envyguard_user
    password: your_password_here
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

app:
  security:
    jwt:
      secret: your_jwt_secret_key_min_256_bits_here_change_in_production
      expiration: 86400000 # 24 hours in milliseconds
  rabbitmq:
    queue:
      commands: pc_commands
      responses: pc_responses